<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Horror Movie Reviews Home</title>
</head>
<body>
<div class="container">
<main>
    <header>
        <h1>Horror Movie Reviews</h1>
    </header>

    <figure>
    <img src="images/michael-myers.jpeg">
    </figure>

    <h2>Welcome!</h2>
    <h3><a href="/reviews">See All Reviews</a></h3>

</main>
    <footer>
        <small>&copy 2022 ARC Acquisitions, Inc.</small>
    </footer>
</div>
</body>
</html>